body{
    background: #F8F8F8;
background: -webkit-linear-gradient(top left, #F8F8F8, #E6E5DA);
background: -moz-linear-gradient(top left, #F8F8F8, #E6E5DA);
background: linear-gradient(to bottom right, #F8F8F8, #E6E5DA);
}
#container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
img{
    width:300px;
    height:300px;
    align-self:center;
    margin-top:50px;
}
#searchDiv{
    display:flex;
    justify-content: center;
}
#search{
    width:200px;
    margin:20px;
    align-self:center;
}
#error{
    align-self:center
}
.button{
    width:100px;
    height:30px;
    align-self:center;
}